#twitter_div {
position: absolute;
background-color: #FFFFFF;
top:0px;
width:565px;
height:260px;
align: center;
}



#calendar {
background-color: #000000;
position: absolute;
top:160px;
}
.html-widget-preview {
background-color:#F0F0F0;
border:1px solid #CCCCCC;
float:right;
margin:0 10px 20px;
padding:10px 20px;
width:225px;
}

* {
border-color:transparent;
border-width:0;
margin:0;
padding:0;
}

#container {
text-align:left;
}

body {
color:#333333;
}
body {
color:#333333;
font-family:'Lucida Grande',sans-serif;
font-size:0.75em;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
text-align:center;
}

